/* Information primaire */
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 3px;
}
body {
background-color : #f0f0e6 ;
color : #83762a ;
}
h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* ------------------------------ */

/* Header */
.head_div{
  display: flex;
  background-color :rgb(173, 167, 132);
  width: 100%;
  height: 160px;
  padding: 35px;

}
.titre_head_div{
  border-radius: 10px;
  background-color :rgb(211, 206, 176);
  width: 70%;
  height: 90px;
  margin-left: 35px;
}
.titre_head_text{
  font-size: 60px;
  margin-left: 20px;
}
button {
  width: 200px;
  font-size: 2.1rem;
  line-height: 2;
  border-radius: 20px;
  color : #6b5e16;
  background-image: linear-gradient(to bottom right, rgb(226, 222, 201), rgb(211, 206, 176));
  
}
button:focus,
button:hover {
  background-image: linear-gradient(to bottom right, rgb(245, 229, 176),rgb(221, 210, 147));
}
/* ------------------------------ */

/* Main */
/* Partie 1 : Présentation du site*/
.main_texte{
  display: flex;
  background-color :rgb(228, 224, 206);
  width: 100%;
  height: 250px;
}
.presentation_texte{
  margin-left: 40px;
  margin-right: 40px;
  width: 55%;
  height: 90px;
  font-size: 20px;
  text-align: center;
}
.rappel_texte{
  font-size: 15px;
  text-align: center;
  font-style: italic;
}
.image_pokemon_logo{
  font-size: 1.1rem;
  box-shadow: 0px 0px 0px rgb(0, 0, 0);
}
.image_pokemon_logo:hover{
  transform: scale(1);
}
/* ------------------------------ */

/* Partie 2 : Cartes de la semaine */
.mise_en_avant_texte{
  width: 100%;
  height: 700px;
}
.carte_mise_en_avant_texte {
  display: flex;
  width: 100%;
  height: 600px;
  padding: 35px;
  background-color :rgb(228, 224, 206);
  text-align: center;
}
img{
  border-radius: 20px;
  box-shadow: 5px 5px 11px rgb(0, 0, 0);
}
img:hover{
    transform: scale(1.05);
}
.carte_n1 {
  width: 24%;
  height: 20px;
}
.carte_n2 {
  width: 24%;
  height: 20px;
}
.carte_n3 {
  width: 24%;
  height: 20px;
}
.carte_n4 {
  width: 24%;
  height: 20px;
}
a{
  color: #83762a;
}
a:focus,
a:hover {
  color: rgb(255, 102, 0);
}

/* ------------------------------ */

/* Partie 3 : News de la semaine */

.News_semaine_div{
  display: flex;
  width: 100%;
  height: 550px;
  padding: 5px;
  background-color :rgb(228, 224, 206);
}
.legends-za-key-art_img{
  box-shadow: 0px 0px 0px rgb(0, 0, 0);
  width: 100%;
  height: 530px;
}
.legends-za-key-art_img:hover{
  transform: scale(1);
}
.News_text{
  margin-top: 100px;
  text-align: center;
  font-size: 30px;
}
/* ------------------------------ */

/* Partie 4 : vide */
.espace-div{
  width: 100%;
  height: 50px;
}
/* ------------------------------ */

/* Footer */
.foot_div{
  display: flex;
  background-color :rgb(173, 167, 132);
  width: 100%;
  height: 160px;
  padding: 35px;
}
.contacte_foot_texte{
  border-radius: 10px;
  background-color :rgb(211, 206, 176);
  width: 45%;
  height: 90px;
  margin-left: 35px;
  font-size: 25px;
  text-align: center;
}
.droit_foot_texte{
  border-radius: 10px;
  background-color :rgb(211, 206, 176);
  width: 45%;
  height: 90px;
  margin-left: 35px;
  font-size: 30px;
  text-align: center;
}
.foot_bouton{
  width: 200px;
  font-size: 1.1rem;
  line-height: 2;
  border-radius: 30px;
  color : #6b5e16;
  background-image: linear-gradient(to bottom right, rgb(226, 222, 201), rgb(211, 206, 176));
  
}
/* ------------------------------ */